*{
    background-color: bisque;
}
h1{
    background-color: blue;
    color: white;
    text-align: center;
    text-shadow: 3px 3px red;
}
h2{
    background-color: white;
    color: red;
    text-align: center;
    text-shadow: 2px 2px green;

}
details summary{
    background-color: aqua;
}
#p1{
    background-color: deepskyblue;
}
abbr{
    font-size: larger;
    text-align: center;
    background-color: blue;
    color: white;
}
i{
    background-color: cadetblue;
}
em{
    background-color: black;
    color: white;
}
b{
    background-color: cornsilk;
}
del{
    background-color: blue;
}
ins{
    background-color: brown;
}
small{
    background-color: cadetblue;
}
sub{
    background-color: coral;
}
super{
    background-color: cyan;
}
mark{
    background-color: blueviolet;
}
details{
    background-color: azure;
}
ol li{
    background-color: cornflowerblue;
}
ul li{
    background-color: chartreuse;
}
